@media only screen and (min-width: 1200px) {
  body {
    .container {
      margin: 0 12%;
    }
    nav {
      .nav-brand {
        font-size: 1.5rem;
      }
      .nav-links {
        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }

    main {
      .main-text {
        margin: 4% 6%;
        h2 {
          font-size: 2.4rem;
          margin-bottom: 2vh;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 6vh;
        }
        .socials {
          a {
            font-size: 40px;
          }
        }
      }
    }

    .skills {
      margin: 12vh 8% 0 8%;
      .skills-intro {
        h2 {
          font-size: 1.9rem;
        }
        p {
          font-size: 1rem;
        }
      }

      .skills-cards {
        img {
          width: 50px;
          height: 50px;
        }
        h3 {
          font-size: 1.1rem;
        }
      }
    }

    .portfolio {
      .portfolio-intro {
        h2 {
          font-size: 1.9rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .portfolio-card-deck {
        .portfolio-card {
          .portfolio-card-text {
            h5 {
              font-size: 1.1rem;
            }
            p {
              font-size: 0.8rem;
            }
            a {
              font-size: 35px;
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    footer {
      .socials {
        a {
          font-size: 40px;
        }
      }
    }
  }
}
