footer {
  background-color: #505050;
  height: auto;
  width: 100%;

  .socials {
    height: 150px;

    margin: 0 38%;

    display: flex;
    justify-content: space-evenly;

    a {
      color: white;
      font-size: 30px;
      text-decoration: none;

      margin: auto;
    }

    a:hover {
      color: #4391f1;
    }
  }
}