footer {
  margin-top: 15vh;
  background-color: #505050;
  height: auto;

  .socials {
    height: 15vh;
    margin: 0 10vh;
    display: flex;
    justify-content: space-around;

    a {
      color: white;
      font-size: 30px;
      text-decoration: none;

      margin: auto;
    }

    a:hover {
      color: #4391f1;
    }
  }
}