footer {
  margin-top: 100px;

  .card-body {
    background-color: #505050;
    height: auto;
    width: 100%;
  }

  .socials {

    a {
      color: white;
      font-size: 30px;
      text-decoration: none;
    }

    a:hover {
      color: #4391f1;
    }
  }
}